.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.123000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.934000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-1.726830px;}
.ls10{letter-spacing:-1.416000px;}
.lsd{letter-spacing:-1.056000px;}
.lsb{letter-spacing:-0.912000px;}
.ls0{letter-spacing:-0.880000px;}
.ls8{letter-spacing:-0.864000px;}
.ls5{letter-spacing:-0.425794px;}
.ls7{letter-spacing:-0.396000px;}
.ls6{letter-spacing:-0.352000px;}
.ls11{letter-spacing:-0.336000px;}
.lsf{letter-spacing:-0.312000px;}
.lsa{letter-spacing:-0.288000px;}
.lse{letter-spacing:-0.240000px;}
.ls12{letter-spacing:-0.216000px;}
.lsc{letter-spacing:-0.168000px;}
.ls9{letter-spacing:-0.144000px;}
.ls2{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.720000px;}
.ls3{letter-spacing:3.665440px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3{word-spacing:-3.665440px;}
.ws1{word-spacing:-0.720000px;}
.ws2{word-spacing:0.000000px;}
.ws8{word-spacing:0.144000px;}
.wsb{word-spacing:0.168000px;}
.ws11{word-spacing:0.216000px;}
.wsd{word-spacing:0.240000px;}
.ws9{word-spacing:0.288000px;}
.wse{word-spacing:0.312000px;}
.ws10{word-spacing:0.336000px;}
.ws5{word-spacing:0.352000px;}
.ws6{word-spacing:0.396000px;}
.ws7{word-spacing:0.864000px;}
.ws0{word-spacing:0.880000px;}
.wsa{word-spacing:0.912000px;}
.wsc{word-spacing:1.056000px;}
.wsf{word-spacing:1.416000px;}
.ws4{word-spacing:1.726830px;}
._3{margin-left:-4.752000px;}
._2{margin-left:-3.168000px;}
._0{margin-left:-1.584000px;}
._1{width:1.044000px;}
._5{width:2.272573px;}
._4{width:3.592131px;}
._c{width:40.124000px;}
._9{width:48.787200px;}
._8{width:50.761600px;}
._b{width:55.427600px;}
._a{width:112.657600px;}
._6{width:141.670993px;}
._7{width:2904.385456px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:23.655200px;}
.fs6{font-size:24.000000px;}
.fs5{font-size:29.161200px;}
.fs1{font-size:36.000000px;}
.fs3{font-size:73.308800px;}
.fs0{font-size:88.000000px;}
.fs2{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y23{bottom:25.111300px;}
.y25{bottom:26.933600px;}
.y26{bottom:28.608681px;}
.y24{bottom:35.687500px;}
.y82{bottom:77.540900px;}
.y1{bottom:77.676500px;}
.y6e{bottom:78.184400px;}
.y51{bottom:78.184900px;}
.y8b{bottom:79.439200px;}
.y5a{bottom:80.074900px;}
.y72{bottom:80.080400px;}
.y56{bottom:80.080900px;}
.y58{bottom:89.998900px;}
.y78{bottom:113.078300px;}
.y8f{bottom:121.709200px;}
.y89{bottom:128.663200px;}
.y75{bottom:151.466300px;}
.y91{bottom:151.469200px;}
.y8d{bottom:165.743200px;}
.y54{bottom:173.146900px;}
.y76{bottom:182.078300px;}
.y81{bottom:182.522900px;}
.y52{bottom:182.584900px;}
.y4c{bottom:183.104600px;}
.y5c{bottom:192.724900px;}
.y4b{bottom:197.108600px;}
.y73{bottom:197.830400px;}
.y8a{bottom:202.163200px;}
.y7c{bottom:206.864300px;}
.y4a{bottom:211.112600px;}
.y7b{bottom:214.064300px;}
.y1f{bottom:215.646500px;}
.y49{bottom:225.116600px;}
.y71{bottom:229.300400px;}
.y1e{bottom:231.648500px;}
.y88{bottom:235.571200px;}
.y48{bottom:239.120600px;}
.y8e{bottom:243.539200px;}
.y1d{bottom:247.650500px;}
.y47{bottom:253.124600px;}
.y1c{bottom:263.652500px;}
.y46{bottom:267.128600px;}
.y77{bottom:270.398300px;}
.y90{bottom:275.687200px;}
.y50{bottom:277.570900px;}
.y1b{bottom:279.654500px;}
.y45{bottom:281.132600px;}
.y57{bottom:287.716900px;}
.y5b{bottom:288.820900px;}
.y8c{bottom:290.345200px;}
.y44{bottom:295.136600px;}
.y1a{bottom:295.656500px;}
.y59{bottom:297.634900px;}
.y6f{bottom:308.260400px;}
.y43{bottom:309.140600px;}
.y80{bottom:310.376900px;}
.y19{bottom:311.658500px;}
.y5{bottom:311.703500px;}
.y42{bottom:323.144600px;}
.y84{bottom:332.138900px;}
.y41{bottom:337.148600px;}
.y74{bottom:338.158400px;}
.y18{bottom:343.662500px;}
.y40{bottom:351.152600px;}
.y70{bottom:354.850400px;}
.y17{bottom:359.664500px;}
.y86{bottom:362.930900px;}
.y7a{bottom:364.652300px;}
.y3f{bottom:365.156600px;}
.y83{bottom:366.620900px;}
.y79{bottom:371.852300px;}
.y16{bottom:375.666500px;}
.y3e{bottom:379.160600px;}
.y55{bottom:379.888900px;}
.y5d{bottom:383.422900px;}
.y53{bottom:390.220900px;}
.y15{bottom:391.668500px;}
.y3d{bottom:393.164600px;}
.y87{bottom:393.560900px;}
.y3c{bottom:407.168600px;}
.y14{bottom:407.670500px;}
.y85{bottom:408.170900px;}
.y3b{bottom:421.172600px;}
.y13{bottom:423.672500px;}
.y7f{bottom:423.680900px;}
.y3a{bottom:435.176600px;}
.y12{bottom:439.674500px;}
.y4{bottom:439.701500px;}
.y39{bottom:449.180600px;}
.y38{bottom:463.184600px;}
.y11{bottom:471.678500px;}
.y37{bottom:477.188600px;}
.y4f{bottom:485.206900px;}
.y10{bottom:487.680500px;}
.y36{bottom:491.192600px;}
.yf{bottom:503.682500px;}
.y35{bottom:505.196600px;}
.y34{bottom:519.200600px;}
.ye{bottom:519.684500px;}
.y6b{bottom:525.662000px;}
.y33{bottom:533.204600px;}
.yd{bottom:535.686500px;}
.y69{bottom:540.655500px;}
.y6a{bottom:540.662000px;}
.y32{bottom:547.208600px;}
.yc{bottom:551.688500px;}
.y3{bottom:551.697500px;}
.y68{bottom:559.291500px;}
.y31{bottom:561.212600px;}
.y30{bottom:575.216600px;}
.y67{bottom:576.301500px;}
.yb{bottom:583.692500px;}
.y66{bottom:586.303500px;}
.y2f{bottom:589.220600px;}
.y65{bottom:596.305500px;}
.ya{bottom:599.694500px;}
.y2e{bottom:603.224600px;}
.y64{bottom:606.307500px;}
.y9{bottom:615.696500px;}
.y2d{bottom:617.228600px;}
.y63{bottom:621.221400px;}
.y2c{bottom:631.232600px;}
.y8{bottom:631.698500px;}
.y62{bottom:641.033400px;}
.y2b{bottom:645.236600px;}
.y7{bottom:647.700500px;}
.y61{bottom:655.235400px;}
.y2a{bottom:659.240600px;}
.y2{bottom:663.693500px;}
.y6{bottom:663.702500px;}
.y29{bottom:673.244600px;}
.y60{bottom:675.047400px;}
.y5f{bottom:675.049400px;}
.y28{bottom:687.248600px;}
.y5e{bottom:689.251400px;}
.y27{bottom:701.252600px;}
.y4e{bottom:710.612600px;}
.y6d{bottom:710.657600px;}
.y7e{bottom:710.762400px;}
.y4d{bottom:726.614600px;}
.y6c{bottom:726.659600px;}
.y7d{bottom:726.764400px;}
.y21{bottom:738.811600px;}
.y20{bottom:767.636500px;}
.y22{bottom:767.636600px;}
.h7{height:17.221632px;}
.h9{height:17.760000px;}
.ha{height:18.048000px;}
.h8{height:21.258629px;}
.hb{height:22.560000px;}
.h4{height:27.072000px;}
.h3{height:33.840000px;}
.h6{height:53.370811px;}
.h2{height:65.120000px;}
.h5{height:159.840000px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.xb{left:28.346400px;}
.x5{left:62.271500px;}
.x7{left:239.075700px;}
.xc{left:304.724400px;}
.x14{left:306.416400px;}
.x13{left:307.628400px;}
.x12{left:309.476400px;}
.x1a{left:318.681600px;}
.x1e{left:334.561400px;}
.x6{left:336.751000px;}
.x17{left:347.300400px;}
.x16{left:348.506400px;}
.x22{left:350.485400px;}
.x23{left:351.523400px;}
.x30{left:352.660300px;}
.x15{left:354.542400px;}
.x19{left:358.586400px;}
.x18{left:370.262400px;}
.x11{left:378.068400px;}
.x1b{left:381.923000px;}
.x29{left:383.789100px;}
.x10{left:389.000400px;}
.xf{left:393.554400px;}
.xe{left:405.992400px;}
.x27{left:408.187500px;}
.x1f{left:413.293400px;}
.x31{left:426.664300px;}
.x32{left:430.066300px;}
.x9{left:434.908200px;}
.x28{left:446.455500px;}
.x2b{left:450.740400px;}
.xd{left:454.256400px;}
.x24{left:464.869400px;}
.x20{left:468.121400px;}
.x21{left:469.159400px;}
.x1d{left:481.123400px;}
.x2e{left:488.110300px;}
.x2f{left:492.646300px;}
.x2a{left:507.188400px;}
.x26{left:537.577500px;}
.x1c{left:544.963400px;}
.x2c{left:556.510300px;}
.x25{left:557.743500px;}
.x2d{left:559.156300px;}
.xa{left:622.437500px;}
.x4{left:623.622000px;}
.x2{left:661.934700px;}
.x3{left:900.002700px;}
.x8{left:1037.706848px;}
.x1{left:1138.093000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-2.302439pt;}
.ls10{letter-spacing:-1.888000pt;}
.lsd{letter-spacing:-1.408000pt;}
.lsb{letter-spacing:-1.216000pt;}
.ls0{letter-spacing:-1.173333pt;}
.ls8{letter-spacing:-1.152000pt;}
.ls5{letter-spacing:-0.567725pt;}
.ls7{letter-spacing:-0.528000pt;}
.ls6{letter-spacing:-0.469333pt;}
.ls11{letter-spacing:-0.448000pt;}
.lsf{letter-spacing:-0.416000pt;}
.lsa{letter-spacing:-0.384000pt;}
.lse{letter-spacing:-0.320000pt;}
.ls12{letter-spacing:-0.288000pt;}
.lsc{letter-spacing:-0.224000pt;}
.ls9{letter-spacing:-0.192000pt;}
.ls2{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.960000pt;}
.ls3{letter-spacing:4.887253pt;}
.ws3{word-spacing:-4.887253pt;}
.ws1{word-spacing:-0.960000pt;}
.ws2{word-spacing:0.000000pt;}
.ws8{word-spacing:0.192000pt;}
.wsb{word-spacing:0.224000pt;}
.ws11{word-spacing:0.288000pt;}
.wsd{word-spacing:0.320000pt;}
.ws9{word-spacing:0.384000pt;}
.wse{word-spacing:0.416000pt;}
.ws10{word-spacing:0.448000pt;}
.ws5{word-spacing:0.469333pt;}
.ws6{word-spacing:0.528000pt;}
.ws7{word-spacing:1.152000pt;}
.ws0{word-spacing:1.173333pt;}
.wsa{word-spacing:1.216000pt;}
.wsc{word-spacing:1.408000pt;}
.wsf{word-spacing:1.888000pt;}
.ws4{word-spacing:2.302439pt;}
._3{margin-left:-6.336000pt;}
._2{margin-left:-4.224000pt;}
._0{margin-left:-2.112000pt;}
._1{width:1.392000pt;}
._5{width:3.030097pt;}
._4{width:4.789508pt;}
._c{width:53.498667pt;}
._9{width:65.049600pt;}
._8{width:67.682133pt;}
._b{width:73.903467pt;}
._a{width:150.210133pt;}
._6{width:188.894657pt;}
._7{width:3872.513941pt;}
.fs4{font-size:31.540267pt;}
.fs6{font-size:32.000000pt;}
.fs5{font-size:38.881600pt;}
.fs1{font-size:48.000000pt;}
.fs3{font-size:97.745067pt;}
.fs0{font-size:117.333333pt;}
.fs2{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:33.481733pt;}
.y25{bottom:35.911467pt;}
.y26{bottom:38.144909pt;}
.y24{bottom:47.583333pt;}
.y82{bottom:103.387867pt;}
.y1{bottom:103.568667pt;}
.y6e{bottom:104.245867pt;}
.y51{bottom:104.246533pt;}
.y8b{bottom:105.918933pt;}
.y5a{bottom:106.766533pt;}
.y72{bottom:106.773867pt;}
.y56{bottom:106.774533pt;}
.y58{bottom:119.998533pt;}
.y78{bottom:150.771067pt;}
.y8f{bottom:162.278933pt;}
.y89{bottom:171.550933pt;}
.y75{bottom:201.955067pt;}
.y91{bottom:201.958933pt;}
.y8d{bottom:220.990933pt;}
.y54{bottom:230.862533pt;}
.y76{bottom:242.771067pt;}
.y81{bottom:243.363867pt;}
.y52{bottom:243.446533pt;}
.y4c{bottom:244.139467pt;}
.y5c{bottom:256.966533pt;}
.y4b{bottom:262.811467pt;}
.y73{bottom:263.773867pt;}
.y8a{bottom:269.550933pt;}
.y7c{bottom:275.819067pt;}
.y4a{bottom:281.483467pt;}
.y7b{bottom:285.419067pt;}
.y1f{bottom:287.528667pt;}
.y49{bottom:300.155467pt;}
.y71{bottom:305.733867pt;}
.y1e{bottom:308.864667pt;}
.y88{bottom:314.094933pt;}
.y48{bottom:318.827467pt;}
.y8e{bottom:324.718933pt;}
.y1d{bottom:330.200667pt;}
.y47{bottom:337.499467pt;}
.y1c{bottom:351.536667pt;}
.y46{bottom:356.171467pt;}
.y77{bottom:360.531067pt;}
.y90{bottom:367.582933pt;}
.y50{bottom:370.094533pt;}
.y1b{bottom:372.872667pt;}
.y45{bottom:374.843467pt;}
.y57{bottom:383.622533pt;}
.y5b{bottom:385.094533pt;}
.y8c{bottom:387.126933pt;}
.y44{bottom:393.515467pt;}
.y1a{bottom:394.208667pt;}
.y59{bottom:396.846533pt;}
.y6f{bottom:411.013867pt;}
.y43{bottom:412.187467pt;}
.y80{bottom:413.835867pt;}
.y19{bottom:415.544667pt;}
.y5{bottom:415.604667pt;}
.y42{bottom:430.859467pt;}
.y84{bottom:442.851867pt;}
.y41{bottom:449.531467pt;}
.y74{bottom:450.877867pt;}
.y18{bottom:458.216667pt;}
.y40{bottom:468.203467pt;}
.y70{bottom:473.133867pt;}
.y17{bottom:479.552667pt;}
.y86{bottom:483.907867pt;}
.y7a{bottom:486.203067pt;}
.y3f{bottom:486.875467pt;}
.y83{bottom:488.827867pt;}
.y79{bottom:495.803067pt;}
.y16{bottom:500.888667pt;}
.y3e{bottom:505.547467pt;}
.y55{bottom:506.518533pt;}
.y5d{bottom:511.230533pt;}
.y53{bottom:520.294533pt;}
.y15{bottom:522.224667pt;}
.y3d{bottom:524.219467pt;}
.y87{bottom:524.747867pt;}
.y3c{bottom:542.891467pt;}
.y14{bottom:543.560667pt;}
.y85{bottom:544.227867pt;}
.y3b{bottom:561.563467pt;}
.y13{bottom:564.896667pt;}
.y7f{bottom:564.907867pt;}
.y3a{bottom:580.235467pt;}
.y12{bottom:586.232667pt;}
.y4{bottom:586.268667pt;}
.y39{bottom:598.907467pt;}
.y38{bottom:617.579467pt;}
.y11{bottom:628.904667pt;}
.y37{bottom:636.251467pt;}
.y4f{bottom:646.942533pt;}
.y10{bottom:650.240667pt;}
.y36{bottom:654.923467pt;}
.yf{bottom:671.576667pt;}
.y35{bottom:673.595467pt;}
.y34{bottom:692.267467pt;}
.ye{bottom:692.912667pt;}
.y6b{bottom:700.882667pt;}
.y33{bottom:710.939467pt;}
.yd{bottom:714.248667pt;}
.y69{bottom:720.874000pt;}
.y6a{bottom:720.882667pt;}
.y32{bottom:729.611467pt;}
.yc{bottom:735.584667pt;}
.y3{bottom:735.596667pt;}
.y68{bottom:745.722000pt;}
.y31{bottom:748.283467pt;}
.y30{bottom:766.955467pt;}
.y67{bottom:768.402000pt;}
.yb{bottom:778.256667pt;}
.y66{bottom:781.738000pt;}
.y2f{bottom:785.627467pt;}
.y65{bottom:795.074000pt;}
.ya{bottom:799.592667pt;}
.y2e{bottom:804.299467pt;}
.y64{bottom:808.410000pt;}
.y9{bottom:820.928667pt;}
.y2d{bottom:822.971467pt;}
.y63{bottom:828.295200pt;}
.y2c{bottom:841.643467pt;}
.y8{bottom:842.264667pt;}
.y62{bottom:854.711200pt;}
.y2b{bottom:860.315467pt;}
.y7{bottom:863.600667pt;}
.y61{bottom:873.647200pt;}
.y2a{bottom:878.987467pt;}
.y2{bottom:884.924667pt;}
.y6{bottom:884.936667pt;}
.y29{bottom:897.659467pt;}
.y60{bottom:900.063200pt;}
.y5f{bottom:900.065867pt;}
.y28{bottom:916.331467pt;}
.y5e{bottom:919.001867pt;}
.y27{bottom:935.003467pt;}
.y4e{bottom:947.483467pt;}
.y6d{bottom:947.543467pt;}
.y7e{bottom:947.683200pt;}
.y4d{bottom:968.819467pt;}
.y6c{bottom:968.879467pt;}
.y7d{bottom:969.019200pt;}
.y21{bottom:985.082133pt;}
.y20{bottom:1023.515333pt;}
.y22{bottom:1023.515467pt;}
.h7{height:22.962177pt;}
.h9{height:23.680000pt;}
.ha{height:24.064000pt;}
.h8{height:28.344838pt;}
.hb{height:30.080000pt;}
.h4{height:36.096000pt;}
.h3{height:45.120000pt;}
.h6{height:71.161081pt;}
.h2{height:86.826667pt;}
.h5{height:213.120000pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.xb{left:37.795200pt;}
.x5{left:83.028667pt;}
.x7{left:318.767600pt;}
.xc{left:406.299200pt;}
.x14{left:408.555200pt;}
.x13{left:410.171200pt;}
.x12{left:412.635200pt;}
.x1a{left:424.908800pt;}
.x1e{left:446.081867pt;}
.x6{left:449.001333pt;}
.x17{left:463.067200pt;}
.x16{left:464.675200pt;}
.x22{left:467.313867pt;}
.x23{left:468.697867pt;}
.x30{left:470.213733pt;}
.x15{left:472.723200pt;}
.x19{left:478.115200pt;}
.x18{left:493.683200pt;}
.x11{left:504.091200pt;}
.x1b{left:509.230667pt;}
.x29{left:511.718800pt;}
.x10{left:518.667200pt;}
.xf{left:524.739200pt;}
.xe{left:541.323200pt;}
.x27{left:544.250000pt;}
.x1f{left:551.057867pt;}
.x31{left:568.885733pt;}
.x32{left:573.421733pt;}
.x9{left:579.877600pt;}
.x28{left:595.274000pt;}
.x2b{left:600.987200pt;}
.xd{left:605.675200pt;}
.x24{left:619.825867pt;}
.x20{left:624.161867pt;}
.x21{left:625.545867pt;}
.x1d{left:641.497867pt;}
.x2e{left:650.813733pt;}
.x2f{left:656.861733pt;}
.x2a{left:676.251200pt;}
.x26{left:716.770000pt;}
.x1c{left:726.617867pt;}
.x2c{left:742.013733pt;}
.x25{left:743.658000pt;}
.x2d{left:745.541733pt;}
.xa{left:829.916667pt;}
.x4{left:831.496000pt;}
.x2{left:882.579600pt;}
.x3{left:1200.003600pt;}
.x8{left:1383.609130pt;}
.x1{left:1517.457333pt;}
}
